<a href="https://colab.research.google.com/github/Yomi-09/PrograIII-Semi-2025/blob/main/Introduccion.pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programación Computacional III")

Hola Mundo
Bienvenidos chicos a programación Computacional III

In [ ]:
nombre = "Yomi Carrazco"
edad = 20
print(nombre, edad)

edad = "veinte"
print("tu edad:", edad)

Yomi Carrazco 20
tu edad: veinte

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("la suma es:", suma)

la suma es: 13.9

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
suma = num1 + num2
print("la suma es:", suma)

num1:3
num2:4
la suma es: 7.0

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
resta = num1 - num2
print("la resta es:", resta)

num1:7
num2:5
la resta es: 2.0

TIPOS DE DATOS EN PYTHON

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + "Esto es un entero")

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero entero")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un Booleano")

6 Esto es un numero entero
6Esto es un entero
7.5 Esto es un numero entero
True Esto es un Booleano

In [ ]:
#RESTA
def resta(num1, num2):
  return num1 + num2

In [ ]:
print("La resta de 5 + 8 = ", resta(5,8))

La resta de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 3
Num2: 5
La resta es:  8.0

In [ ]:
#Ejercicio haciendo uso de funciones de usuario
def celciusfarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c:"))
f = celciusfarenheit(c)
print("f:", f)

Grados c:35
f: 95.0

In [ ]:
#ejercio que combierta grados farenheit a celcius
def farenheitcelcius(c):
 return (f - 32) * 5/9

In [ ]:
f = float(input("Grados f:"))
c = farenheitcelcius(f)
print("c:", c)

Grados f:95.0
c: 35.0

In [ ]:
#comvertir de ngrados celcius a kelvin
def celciuskelvin(c):
  return c + 273.15

In [ ]:
c = float(input("Grados c:"))
k = celciuskelvin(c)
print("k:", k)

Grados c:32
k: 305.15

In [ ]:
#ejercio haciendo uso de funciones de usuario que
#calcule el sueldo de un empleado
#segun el  numero de horas trabajadasy el valor por hora

def sueldo(horas, valor):
  sueldo = horas * valor * 30
  return sueldo

In [ ]:
horas = float(input("Horas trabajadas:"))
valor = float(input("Valor por hora:"))
sueldo = sueldo(horas, valor)

print("Sueldo:", sueldo)

In [ ]:
#ejercio que permita elevar un numero a un exponente
def exponente(base, exponente):
  return base ** exponente

  base = float(input("Base:"))
  exponente = float(input("Exponente:"))

  resultado = exponente(base, exponente)
  print("El Numero:", base, )

FUNCIONES ANONIMAS

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

FUNCIONES PRECONSTRUIDAS

In [ ]:

def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Funcion Reduce

In [ ]:
#reduce
from functools import reduce
numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda acum, num: acum + num, numeros)

sumaPares = reduce(lambda acum, num: acum + num if num % 2 == 0 else acum, numeros, 0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPares)

#

TUPLAS

In [ ]:
tupla = (1,2,3,7,8,9)
tupla[0] = 5
print("Tupla: ", tupla, "Primer elemento", tupla[0], "El numero 5 pertenece a la tupla: " tupla.coun(5))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

In [ ]:
import datetime
fecha = datetime.date.today()
semana = "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"
meses = "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

LISTA

In [ ]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

In [ ]:
def calcularPromedio(nota, notas):
  return notas(1)8*0.3 + nota 9*0.3 + 10*0.4

In [ ]:
# Hacer un ejercicio que obtenga la nota final de Progra III, computo 1
from functools import reduce

notas = [
    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial1", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial2", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial3", 9, 0.4]
]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota final: ", nf)

In [ ]:
from functools import reduce

notas = []
    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial1", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial2", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial3", 9, 0.4]
]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota final: ", nf)

CAlCULAR SUELDO NETO

In [ ]:
def calcularSueldoNeto():
    salario_nominal = float(input("Ingresa el salario nominal: "))
    tasa_isss = 0.03
    tasa_afp = 0.0625
    descuento_isss = salario_nominal * tasa_isss
    descuento_afp = salario_nominal * tasa_afp
    renta_neta = salario_nominal - (descuento_isss + descuento_afp)
    descuento_isr = 0

    if renta_neta <= 472.00:
        descuento_isr = 0
    elif renta_neta <= 895.24:
        exceso = renta_neta - 472.00
        descuento_isr = exceso * 0.10 + 17.67
    elif renta_neta <= 2038.10:
        exceso = renta_neta - 895.24
        descuento_isr = exceso * 0.20 + 60.00
    else:
        exceso = renta_neta - 2038.10
        descuento_isr = exceso * 0.30 + 288.57

    total_deducciones = descuento_isss + descuento_afp + descuento_isr
    sueldo_neto = salario_nominal - total_deducciones

    print("Salario Nominal:", salario_nominal)
    print("Descuento ISSS:", descuento_isss)
    print("Descuento AFP:", descuento_afp)
    print("Descuento ISR:", descuento_isr)
    print("Total de deducciones:", total_deducciones)
    print("Sueldo Neto:", sueldo_neto)

calcularSueldoNeto()

TARIFA DE AGUA

In [ ]:
def calcularTarifaAgua():
    metros_consumidos = float(input("¿Cuántos metros de agua consumiste? "))
    costo_total = 0

    if metros_consumidos <= 18:
        costo_total = 6.00
    elif metros_consumidos <= 28:
        exceso = metros_consumidos - 18
        costo_total = 6.00 + (exceso * 0.45)
    else:
        costo_primeros_18 = 6.00
        costo_siguientes_10 = 10 * 0.45
        exceso = metros_consumidos - 28
        costo_exceso = exceso * 0.65
        costo_total = costo_primeros_18 + costo_siguientes_10 + costo_exceso

    print("El costo total a pagar es: $", costo_total)

calcularTarifaAgua()

ACUMULADO DE MESES

In [ ]:
def calcularMesesAcumulados():
    meses = int(input("Ingresa el número de meses a acumular: "))

    acumulado = 0

    for mes in range(1, meses + 1):
        acumulado = acumulado + mes

    print("El acumulado de", meses, "meses es:", acumulado)

calcularMesesAcumulados()

CONVERSORES

In [ ]:
#calcular unidades
def conversor_universal(nombre_tipo, tasas):
    print(f"\n*** Conversor de {nombre_tipo.capitalize()} ***")

    unidades_disponibles = list(tasas.keys())

    print("Unidades disponibles:")
    for i, unidad in enumerate(unidades_disponibles, 1):
        print(f"{i}. {unidad}")

    try:
        opcion_origen = int(input("Selecciona la unidad de origen: ")) - 1
        opcion_destino = int(input("Selecciona la unidad de destino: ")) - 1

        if 0 <= opcion_origen < len(unidades_disponibles) and 0 <= opcion_destino < len(unidades_disponibles):
            unidad_origen = unidades_disponibles[opcion_origen]
            unidad_destino = unidades_disponibles[opcion_destino]

            valor = float(input(f"Ingresa el valor en {unidad_origen}: "))

            valor_en_base = valor / tasas[unidad_origen]
            resultado = valor_en_base * tasas[unidad_destino]

            print(f"{valor} {unidad_origen} equivale a {resultado} {unidad_destino}")
        else:
            print("Opción no válida. Inténtalo de nuevo.")
    except (ValueError, IndexError):
        print("Entrada no válida. Por favor, ingresa un número.")

def Cmonedas():
    tasas = {
        "Dólar": 1, "Euro": 0.92, "Libra Esterlina": 0.79, "Yen Japonés": 140.00,
        "Dólar Canadiense": 1.35, "Peso Mexicano": 17.15, "Peso Chileno": 950.00,
        "Peso Argentino": 870.00, "Peso Colombiano": 4000.00, "Real Brasileño": 5.20
    }
    conversor_universal("monedas", tasas)

def Cmasa():
    tasas = {
        "Kilogramo": 1, "Gramo": 1000, "Miligramo": 1000000, "Libra": 2.20462, "Onza": 35.274,
        "Tonelada": 0.001, "Stone": 0.157473, "Quilate": 5000, "Dram": 564.383, "Grain": 15432.4
    }
    conversor_universal("masa", tasas)

def Cvolumen():
    tasas = {
        "Litro": 1, "Mililitro": 1000, "Galón": 0.264172, "Cuarto": 1.05669, "Pinta": 2.11338,
        "Taza": 4.22675, "Metro Cúbico": 0.001, "Pie Cúbico": 0.0353147, "Pulgada Cúbica": 61.0237,
        "Onza Fluida": 33.814
    }
    conversor_universal("volumen", tasas)

def Clongitud():
    tasas = {
        "Metro": 1, "Kilómetro": 0.001, "Centímetro": 100, "Milímetro": 1000,
        "Yarda": 1.09361, "Pie": 3.28084, "Pulgada": 39.3701, "Milla": 0.000621371
    }
    conversor_universal("longitud", tasas)

def Calmacenamiento():
    tasas = {
        "Byte": 1, "Kilobyte": 0.0009765625, "Megabyte": 9.53674e-07, "Gigabyte": 9.31323e-10,
        "Terabyte": 9.09495e-13, "Petabyte": 8.88178e-16, "Exabyte": 8.67362e-19,
        "Zettabyte": 8.47033e-22, "Yottabyte": 8.27181e-25, "Brontobyte": 8.07794e-28
    }
    conversor_universal("almacenamiento", tasas)

def Ctiempo():
    tasas = {
        "Segundo": 1, "Minuto": 0.0166667, "Hora": 0.000277778, "Día": 1.15741e-05,
        "Semana": 1.65344e-06, "Mes": 3.80517e-07, "Año": 3.17098e-08,
        "Década": 3.17098e-09, "Siglo": 3.17098e-10, "Milenio": 3.17098e-11
    }
    conversor_universal("tiempo", tasas)

def Carea():
    tasas = {
        "Metro Cuadrado": 1, "Kilómetro Cuadrado": 0.000001, "Hectárea": 0.0001, "Pie Cuadrado": 10.7639,
        "Centímetro Cuadrado": 10000, "Milla Cuadrada": 3.86102e-07, "Acre": 0.000247105,
        "Yarda Cuadrada": 1.19599, "Manzana": 0.000142857, "Tarea": 0.0022857
    }
    conversor_universal("area", tasas)

def menu_principal():
    while True:
        print("\n***Menu de opciones***")
        print("1. Conversión de monedas")
        print("2. Conversión de masas")
        print("3. Conversión de volumen")
        print("4. Conversión de longitud")
        print("5. Conversión de almacenamiento")
        print("6. Conversión de tiempo")
        print("7. Conversión de área")
        print("8. Salir")

        opcion = input("opcion: ")

        if opcion == "1":
            Cmonedas()
        elif opcion == "2":
            Cmasa()
        elif opcion == "3":
            Cvolumen()
        elif opcion == "4":
            Clongitud()
        elif opcion == "5":
            Calmacenamiento()
        elif opcion == "6":
            Ctiempo()
        elif opcion == "7":
            Carea()
        elif opcion == "8":
            print("Saliendo del programa...")
            break
        else:
            print("Opción no válida. Inténtalo de nuevo.")

menu_principal()

***Menu de opciones***
1. Conversión de monedas
2. Conversión de masas
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Salir

*** Conversor de Longitud ***
Unidades disponibles:
1. Metro
2. Kilómetro
3. Centímetro
4. Milímetro
5. Yarda
6. Pie
7. Pulgada
8. Milla
20.0 Metro equivale a 65.6168 Pie

***Menu de opciones***
1. Conversión de monedas
2. Conversión de masas
3. Conversión de volumen
4. Conversión de longitud
5. Conversión de almacenamiento
6. Conversión de tiempo
7. Conversión de área
8. Salir

CONVERSOR PROPIO

In [ ]:
#conversor propio, de unidades a cajas y viceversa
def conversor_cajas():

    unidades_por_caja = 25

    print("Opciones de conversión:")
    print("1. Convertir de unidades a cajas")
    print("2. Convertir de cajas a unidades")

    opcion = input("Selecciona una opción (1 o 2): ")

    if opcion == "1":

        valor_unidades = float(input("Ingresa la cantidad de unidades: "))
        resultado = valor_unidades / unidades_por_caja
        print(f"{valor_unidades} unidades equivalen a {resultado} cajas.")

    elif opcion == "2":

        valor_cajas = float(input("Ingresa la cantidad de cajas: "))
        resultado = valor_cajas * unidades_por_caja
        print(f"{valor_cajas} cajas equivalen a {resultado} unidades.")

    else:
        print("Opción no válida. Por favor, selecciona 1 o 2.")


conversor_cajas()

Opciones de conversión:
1. Convertir de unidades a cajas
2. Convertir de cajas a unidades
Selecciona una opción (1 o 2): 1
Ingresa la cantidad de unidades: 40
40.0 unidades equivalen a 1.6 cajas.

In [ ]:
#sort
valores = [5,8,9,1,3,4,7]

print(valores, "Lista original")

valores.sort()
print(valores, "POrdenados de menor a mayor")

valores.reverse()
print(valores, "Ordenados de mayor a menor")

#valores.sort(reverse=True)
#print(valores, "Ordenados de mayor a menor")

[5, 8, 9, 1, 3, 4, 7] Lista original
[1, 3, 4, 5, 7, 8, 9] POrdenados de menor a mayor
[9, 8, 7, 5, 4, 3, 1] Ordenados de mayor a menor

DICCIONARIOS - JSON

In [ ]:
persona = {
  "codigo": "USIS018804",
  "nombre": "Yomi Carrazco",
  "materias": [
    {
      "codigo": 611,
      "nombre": "Programacion I",
      "notas":{
        "c1": {"lab1":8, "lab2":9.9, "parcial":10},
        "c2": {"lab1":7.78, "lab2":6.5, "parcial":8},
        "c3": {"lab1":10, "lab2":9, "parcial":9}
      }
    },
    {
      "codigo": 612,
      "nombre": "Programacion II",
      "notas":{
        "c1": {"lab1":5, "lab2": 7, "parcial":9},
        "c2": {"lab1":9, "lab2": 6, "parcial": 10},
        "c3": {"lab1":10, "lab2": 10, "parcial": 9}
      }
    }
  ]
}
print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI: ",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"]
      )

ESTRUCTURAS DE CONTROL

In [ ]:
#if
#hacer un ejercicio en python que permita clasificar las edades segun su rango
edad = int(input("Edad: "))
if(edad<0):
  print("Error al ingresar la edad, solo valores positivos.")
elif(edad<=2):
  print("Eres un bebe...")
elif(edad<=11):
  print("Eres un niño...")
elif(edad<18):
  print("Eres un adolescente...")
elif(edad<65):
  print("Eres un adulto responsable...")
elif(edad<85):
  print("Eres un adulto mayor...")
else:
  print("Larga vida...")

In [ ]:
#Determinar si un numero introducido por el usuario es primo
num = int(input("Num: "))

acum = 0
i=1
while i<=num and acum<=2:
  if( num%i==0 ):
    acum+=1
  i+=1
if(acum<=2):
  print("El numero ", num, " ES primo")
else:
  print("El numero ", num, " NO es primo")

PROGRAMACION ORIENTADA A OBJETOS



*   CLASES

In [ ]:
class calculadora:
  def sumar(num1, num2):
    return num1+num2



*   OBJETO

In [ ]:
objCalculadora = calculadora() #creamos el objeto apartir de la clase
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print(num1, "+", num2, "=", calculadora.sumar(num1, num2))

In [ ]:
#Hecer un programa que lea una serie de numero introeducidos por el usuario y determine la media artimetica.
from math import sqrt
class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += int(num)
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (int(num)-media)**2
    return sqrt( suma/len(serie) )

In [ ]:
serie = input("Serie ejem: 1,5,2,3: ").split(",")
objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie), "la desvicacion tipica es: ", round(objEstadistica.tipica(serie), 2) )

TAREA

Encontrar la varianza en una serie de numeros introducidos por el usuario.

Encontrar la frecuencia en una serie de numeros introducidos por el usuario.

Escriba un programa que determine si una palabra es palinbdrome. Ejm. ana, oso, oro, reconocer, bob, somos, ala, salas, etc.

Calcula la varianza de un conjunto de número

In [ ]:
import numpy as np

numeros_str = input("Introduce los números separados por comas: ")
try:
    numeros = [float(num) for num in numeros_str.split(',')]
    varianza = np.var(numeros)
    print(f"La varianza de los números es: {varianza}")

except ValueError:
    print("Entrada inválida. Por favor, introduce solo números separados por comas.")

Introduce los números separados por comas: 3,4,5,6
La varianza de los números es: 1.25

Frecuencia de una Serie de Números

In [ ]:
from collections import Counter

numeros_str = input("Introduce los números separados por comas: ")
try:
    numeros = [float(num) for num in numeros_str.split(',')]
    frecuencia = Counter(numeros)
    print("La frecuencia de cada número es:")
    for numero, veces in sorted(frecuencia.items()):
        print(f"El número {numero} aparece {veces} veces.")

except ValueError:
    print("Entrada inválida. Por favor, introduce solo números separados por comas.")

Introduce los números separados por comas: 3,4,5,6,7
La frecuencia de cada número es:
El número 3.0 aparece 1 veces.
El número 4.0 aparece 1 veces.
El número 5.0 aparece 1 veces.
El número 6.0 aparece 1 veces.
El número 7.0 aparece 1 veces.

 Detector de Palíndromos

In [ ]:
def es_palindromo(palabra):
    palabra_limpia = palabra.replace(" ", "").lower()
    return palabra_limpia == palabra_limpia[::-1]
entrada_usuario = input("Introduce una palabra o frase para verificar si es un palíndromo: ")
if es_palindromo(entrada_usuario):
    print(f'"{entrada_usuario}" es un palíndromo.')
else:
    print(f'"{entrada_usuario}" no es un palíndromo.')

Introduce una palabra o frase para verificar si es un palíndromo: buenos días
"buenos días" no es un palíndromo.

In [ ]:
#Crear un programa que calcule el mayor de N numeros
class calcular:
  def menor(self, serie):
    nMenor = int(serie[0])
    for i in serie:
      num = int(i)
      if (num < nMenor):
        menor = num
    return nMenor

  def mayor(self, serie):
    nMayor = 0
    for i in serie:
      num = int(i)
      if (num > nMayor):
        nMayor = num
    return nMayor

In [ ]:
calcular = calcular()
serie = input("Serie ejem: 1,5,2,3: ").split(",")
print(serie)
print("El mayor es: ", calcular.mayor(serie))
print("El menor es: ", calcular.menor(serie))

Serie ejem: 1,5,2,3: 2,3,4,5,6,7,9
['2', '3', '4', '5', '6', '7', '9']
El mayor es:  9
El menor es:  2

In [ ]:
#Encontar la persona mayor de edad en una lista de datos
persona = [
    {"nombre":"Yomi", "edad": 20},
    {"nombre":"Javier", "edad": 22},
    {"nombre":"Walter", "edad": 21},
    {"nombre":"Steve", "edad": 25}
]
def mayor_edad(persona):
    mayorEdad = int(serie[0])
    for i in serie:
      num = int(i)
      if (num < nMenor):
        menor = num
    return mayor_Edad

La persona con la mayor edad es: Steve con 25 años.

Definición de la tabla de impuestos como una lista de diccionarios

In [3]:
tabla_impuestos = [
    {'desde': 0.01, 'hasta': 500.00, 'precio': 1.5, 'adicional': 0},
    {'desde': 500.01, 'hasta': 1000.00, 'precio': 1.5, 'adicional': 3},
    {'desde': 1000.01, 'hasta': 2000.00, 'precio': 3, 'adicional': 3},
    {'desde': 2000.01, 'hasta': 3000.00, 'precio': 6, 'adicional': 3},
    {'desde': 3000.01, 'hasta': 6000.00, 'precio': 9, 'adicional': 2},
    {'desde': 8000.01, 'hasta': 18000.00, 'precio': 15, 'adicional': 2},
    {'desde': 18000.01, 'hasta': 30000.00, 'precio': 39, 'adicional': 2},
    {'desde': 30000.01, 'hasta': 60000.00, 'precio': 63, 'adicional': 1},
    {'desde': 60000.01, 'hasta': 100000.00, 'precio': 93, 'adicional': 0.8},
    {'desde': 100000.01, 'hasta': 200000.00, 'precio': 125, 'adicional': 0.7},
    {'desde': 200000.01, 'hasta': 300000.00, 'precio': 195, 'adicional': 0.6},
    {'desde': 300000.01, 'hasta': 400000.00, 'precio': 255, 'adicional': 0.45},
    {'desde': 400000.01, 'hasta': 500000.00, 'precio': 300, 'adicional': 0.4},
    {'desde': 500000.01, 'hasta': 1000000.00, 'precio': 340, 'adicional': 0.30},
    {'desde': 1000000.01, 'hasta': 99999999, 'precio': 490, 'adicional': 0.18}
]

def calcular_impuesto(monto):
    """
    Calcula el impuesto a pagar basándose en el monto de la actividad económica.
    """
    for fila in tabla_impuestos:
        if fila['desde'] <= monto <= fila['hasta']:
            if fila['adicional'] > 0:
                impuesto = ((monto - fila['desde']) / 1000) * fila['adicional'] + fila['precio']
            else:
                impuesto = fila['precio']
            return impuesto
    return 0  # Retorna 0 si el monto no se encuentra en la tabla

def main():
    try:
        monto_actividad = float(input("Ingrese el monto de la actividad económica: $"))
        impuesto_a_pagar = calcular_impuesto(monto_actividad)

        if impuesto_a_pagar > 0:
            print(f"El valor a pagar es: ${impuesto_a_pagar:.2f}")
        else:
            print("El monto ingresado no corresponde a un rango válido en la tabla de impuestos.")
    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número.")

if __name__ == "__main__":
    main()

Ingrese el monto de la actividad económica: $700
El valor a pagar es: $2.10

Conversor de Area

In [24]:
def conversor_area():
    """
    Programa para convertir unidades de área (superficie).
    """
    unidades_area = {
        'pie cuadrado': 1,
        'vara cuadrada': 1.14488,
        'yarda cuadrada': 9,
        'metro cuadrado': 10.7639,
        'tarea': 4305.56,
        'manzana': 7000.96,
        'hectarea': 107639.1
    }

    print("Unidades de área disponibles:")
    for i, unidad in enumerate(unidades_area.keys(), 1):
        print(f"{i}. {unidad.title()}")

    try:
        print("\nSeleccione la unidad de origen:")
        opcion_origen = int(input("Ingrese el número de la unidad de origen: "))

        print("\nSeleccione la unidad de destino:")
        opcion_destino = int(input("Ingrese el número de la unidad de destino: "))

        unidades_lista = list(unidades_area.keys())
        unidad_origen = unidades_lista[opcion_origen - 1]
        unidad_destino = unidades_lista[opcion_destino - 1]

        valor_origen = float(input(f"\nIngrese el valor en {unidad_origen}: "))

        valor_base = valor_origen * unidades_area[unidad_origen]

        valor_destino = valor_base / unidades_area[unidad_destino]

        print(f"{valor_origen} {unidad_origen} equivale a {valor_destino:.4f} {unidad_destino}.")

    except (ValueError, IndexError):
        print("Entrada inválida. Por favor, ingrese un número de opción válido.")

if __name__ == "__main__":
    conversor_area()

Unidades de área disponibles:
1. Pie Cuadrado
2. Vara Cuadrada
3. Yarda Cuadrada
4. Metro Cuadrado
5. Tarea
6. Manzana
7. Hectarea

Seleccione la unidad de origen:
Ingrese el número de la unidad de origen: 6

Seleccione la unidad de destino:
Ingrese el número de la unidad de destino: 5

Ingrese el valor en manzana: 1
1.0 manzana equivale a 1.6260 tarea.

Cajero automático

In [25]:
def cajero_automatico():
    """
    Simula un cajero automático para dispensar billetes y monedas.
    """
    try:
        cantidad_a_retirar = float(input("Ingrese la cantidad a retirar: $"))

        if cantidad_a_retirar <= 0:
            print("Por favor, ingrese una cantidad positiva.")
            return

        denominaciones = {
            20.00: "billetes de a 20",
            10.00: "billetes de a 10",
            5.00: "billetes de a 5",
            1.00: "billetes de a 1",
            0.25: "monedas de 0.25 ctvs.",
            0.10: "monedas de 0.10 ctvs.",
            0.05: "monedas de 0.05 ctvs.",
            0.01: "monedas de 0.01 ctvs."
        }

        cantidad_restante = cantidad_a_retirar

        print(f"\nCantidad a retirar: ${cantidad_a_retirar:.2f}")

        for valor, nombre in denominaciones.items():
            if cantidad_restante >= valor:
                cantidad_restante = round(cantidad_restante, 2)
                numero_de_unidades = int(cantidad_restante // valor)
                cantidad_restante %= valor

                print(f"{numero_de_unidades} {nombre}")

    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número.")

if __name__ == "__main__":
    cajero_automatico()

Ingrese la cantidad a retirar: $99.89

Cantidad a retirar: $99.89
4 billetes de a 20
1 billetes de a 10
1 billetes de a 5
4 billetes de a 1
3 monedas de 0.25 ctvs.
1 monedas de 0.10 ctvs.
4 monedas de 0.01 ctvs.