<a href="https://colab.research.google.com/github/Yomi-09/PrograIII-Semi-2025/blob/main/Introduccion_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programación Computacional III")

Hola Mundo
Bienvenidos chicos a programación Computacional III

In [ ]:
nombre = "Yomi Carrazco"
edad = 20
print(nombre, edad)

edad = "veinte"
print("tu edad:", edad)

Yomi Carrazco 20
tu edad: veinte

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("la suma es:", suma)

la suma es: 13.9

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
suma = num1 + num2
print("la suma es:", suma)

num1:3
num2:4
la suma es: 7.0

In [ ]:
num1 = float(input("num1:"))
num2 = float(input("num2:"))
resta = num1 - num2
print("la resta es:", resta)

num1:7
num2:5
la resta es: 2.0

TIPOS DE DATOS EN PYTHON

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + "Esto es un entero")

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero entero")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un Booleano")

6 Esto es un numero entero
6Esto es un entero
7.5 Esto es un numero entero
True Esto es un Booleano

In [ ]:
#RESTA
def resta(num1, num2):
  return num1 + num2

In [ ]:
print("La resta de 5 + 8 = ", resta(5,8))

La resta de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = resta(num1, num2)
print("La resta es: ", respuesta)

Num1: 3
Num2: 5
La resta es:  8.0

In [ ]:
#Ejercicio haciendo uso de funciones de usuario
def celciusfarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c:"))
f = celciusfarenheit(c)
print("f:", f)

Grados c:35
f: 95.0

In [ ]:
#ejercio que combierta grados farenheit a celcius
def farenheitcelcius(c):
 return (f - 32) * 5/9

In [ ]:
f = float(input("Grados f:"))
c = farenheitcelcius(f)
print("c:", c)

Grados f:95.0
c: 35.0

In [ ]:
#comvertir de ngrados celcius a kelvin
def celciuskelvin(c):
  return c + 273.15

In [ ]:
c = float(input("Grados c:"))
k = celciuskelvin(c)
print("k:", k)

Grados c:32
k: 305.15

In [ ]:
#ejercio haciendo uso de funciones de usuario que
#calcule el sueldo de un empleado
#segun el  numero de horas trabajadasy el valor por hora

def sueldo(horas, valor):
  sueldo = horas * valor * 30
  return sueldo

In [ ]:
horas = float(input("Horas trabajadas:"))
valor = float(input("Valor por hora:"))
sueldo = sueldo(horas, valor)

print("Sueldo:", sueldo)

In [ ]:
#ejercio que permita elevar un numero a un exponente
def exponente(base, exponente):
  return base ** exponente

  base = float(input("Base:"))
  exponente = float(input("Exponente:"))

  resultado = exponente(base, exponente)
  print("El Numero:", base, )

FUNCIONES ANONIMAS

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

FUNCIONES PRECONSTRUIDAS

In [ ]:

def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Funcion Reduce

In [ ]:
#reduce
from functools import reduce
numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda acum, num: acum + num, numeros)

sumaPares = reduce(lambda acum, num: acum + num if num % 2 == 0 else acum, numeros, 0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPares)

#

TUPLAS

In [ ]:
tupla = (1,2,3,7,8,9)
tupla[0] = 5
print("Tupla: ", tupla, "Primer elemento", tupla[0], "El numero 5 pertenece a la tupla: " tupla.coun(5))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

In [ ]:
import datetime
fecha = datetime.date.today()
semana = "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"
meses = "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "de", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

LISTA

In [ ]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

In [6]:
def calcularPromedio(nota, notas):
  return notas(1)8*0.3 + nota 9*0.3 + 10*0.4

SyntaxError: invalid syntax (ipython-input-3555941328.py, line 2)

In [5]:
# Hacer un ejercicio que obtenga la nota final de Progra III, computo 1
from functools import reduce

notas = [
    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial1", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial2", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial3", 9, 0.4]
]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota final: ", nf)

<>:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:11: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:11: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
/tmp/ipython-input-3687686317.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["Parcial1", 9, 0.4]
/tmp/ipython-input-3687686317.py:11: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ["Parcial2", 9, 0.4]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
from functools import reduce

notas = []
    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial1", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial2", 9, 0.4]

    ["Lab1", 8, 0.3],
    ["Lab2", 9,0.3],
    ["Parcial3", 9, 0.4]
]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota final: ", nf)